body {
    overflow-y: scroll;
}

section {
    height: 100vh;
    padding: 50px;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 5px;
}